<!DOCTYPE html>
<html>
  <head>
    <title>GourmetParadise</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,800;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column vh-100">
    
    <nav class="navbar sticky-top navbar-expand-lg my-nav">
      <div class="container-fluid">
        <a class="navbar-brand ms-3" href="/products">GourmetParadise</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
            <a class="nav-link" href="/products">All Products</a>
            <a class="nav-link me-4" href="/products/new">Create New Product</a>
            
            <% if user_signed_in? %> 
                <a class="nav-link me-4" href="#">Welcome, <%= current_user.full_name %></a>
                <% if user_signed_in? && current_user.is_admin %> 
                  <a class="nav-link me-4" href="/admin/panel">Check Admin Panel</a>
                <% end %> 
                <%= button_to "Log Out", session_path, method: :delete, class: "btn btn-info me-3" %> 
            <% else %>
                 <a class="nav-link" href="/users/new">Sign Up</a>
                 <a class="nav-link" href="/session/new">Log In</a>
            <% end %> 

            
            </div>
          </div>
        </div>
      </div>
    </nav>
    
    <div class="my-1 mx-3 text-muted">
    <%= flash[:notice] %>
    </div>  
    <div class="container mt-4">
    <%= yield %>
    </div>

    <footer class="footer py-3 mt-auto">
    <div class="container">
        <span class="footer-text">&copy; GourmetParadise 2022</span>
    </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
